* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10 px / 16px = 0.625 = 62.5 */
  /* Percentage of user's browser font-size setting  */
  font-size: 62.5%;
  overflow-x: hidden;

  /* Does not work on Safari */
  /* scroll-behavior: smooth; */
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1;
  font-weight: 500;
  color: #555;

  /* Only works if there is nothing absolutely positioned  */
  overflow-x: hidden;
}

/* ************************ */
/*  GENERAL REUSABLE COMPONENS */
/* ************************ */

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}
