* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10 px / 16px = 0.625 = 62.5 */
  /* Percentage of user's browser font-size setting  */
  font-size: 62.5%;
  overflow-x: hidden;

  /* Does not work on Safari */
  /* scroll-behavior: smooth; */
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1;
  font-weight: 500;
  color: #555;

  /* Only works if there is nothing absolutely positioned  */
  overflow-x: hidden;
}

/* ************************ */
/*  GENERAL REUSABLE COMPONENS */
/* ************************ */

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 3.6rem;
  row-gap: 3.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2;
}

.grid--center-v {
  display: grid;
  align-items: center;
}

.grid--center-h {
  display: grid;
  justify-self: center;
}

/* SECTION HERO */
.section-hero {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

/* SECTION FEATURE */
.feature {
  padding: 3.6rem 3.6rem;
}

/* Z-GRID SECTION */
.z-grid {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

/* FOOTER FEATURE */
.featurenumber2 {
  padding-top: 7.2rem;
  padding-bottom: 3.6rem;
}
